<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Dog Breed</title>
  </head>
  <body>
    <h1>Add a New Dog Breed</h1>
    <form action="/dogs" method="POST">
      <label for="name">Dog Breed Name</label>
      <input type="text" name="name" id="name" placeholder="breed name" />
      <label for="maleWtKg">Male Weight in kg</label>
      <input
        type="text"
        name="maleWtKg"
        id="maleWtKg"
        placeholder="enter weight range"
      />
      <label for="maleWtLb">Male Weight in lb</label>
      <input
        type="text"
        name="maleWtLb"
        id="maleWtLb"
        placeholder="enter weight range"
      />
      <label for="femaleWtKg">Female Weight in kg</label>
      <input
        type="text"
        name="femaleWtKg"
        id="femaleWtKg"
        placeholder="enter weight ranget"
      />
      <label for="femaleWtLb">Female Weight in lb</label>
      <input
        type="text"
        name="femaleWtLb"
        id="femaleWtLb"
        placeholder="enter weight range"
      />
      <button>SUBMIT</button>
      <button><a href="/dogs">CANCEL</a></button>
    </form>
  </body>
</html>
